{{- $env := .Values.config.environment | required "A valid .Values.config.environment is required!" -}}
{{- $variant := .Values.config.variant | required "A valid .Values.config.variant is required!" -}}
{{- $path := printf "environments/%s/%s/configs" $env $variant -}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-domain-garage-global-settings
data:
  global.conf: |
{{ .Files.Get (printf "%s/global.conf" $path) | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-domain-garage-app-config
data:
  application.conf: |
{{ .Files.Get (printf "%s/application.conf" $path) | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-domain-garage-spark-config
data:
{{- $sparkPath := printf "environments/%s/%s/spark" $env $variant -}}
{{- range $path, $_ := .Files.Glob (printf "%s/*" $sparkPath) }}
  {{ base $path }}: |
{{ $.Files.Get $path | indent 4 }}
{{- end }}

