apiVersion: v1
kind: ConfigMap
metadata:
  name: domain-garage-global-settings
data:
  global.conf: |
{{ .Files.Get "configs/global.conf" | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: domain-garage-app-config
data:
  application.conf: |
{{ .Files.Get "configs/application.conf" | indent 4 }}
