apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "spark-job.fullname" . }}-worker
  labels:
    {{- include "spark-job.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
spec:
  replicas: {{ .Values.spark.worker.replicas }}
  selector:
    matchLabels:
      {{- include "spark-job.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: worker
  template:
    metadata:
      labels:
        {{- include "spark-job.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: worker
    spec:
      containers:
        - name: spark-worker
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SPARK_MODE
              value: worker
            - name: SPARK_PUBLIC_DNS
              value: {{ .Values.route.worker.host | quote }}
            {{- include "spark-job.ssl.env" . | nindent 12 }}
            - name: SPARK_MASTER_URL
              value: "spark://{{ include "spark-job.fullname" . }}-master:{{ .Values.spark.master.port }}"
          ports:
            - name: web-ui
              containerPort: {{ .Values.spark.worker.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.spark.worker.resources | nindent 12 }}
          volumeMounts:
            - name: config-vol
              mountPath: /etc/config
              readOnly: true
            {{- include "spark-job.ssl.volumeMount" . | nindent 12 }}
      volumes:
        - name: config-vol
          projected:
            sources:
              - configMap: { name: {{ tpl (.Values.global.externalConfigMaps.settings | default .Values.global.configMapNames.settings) . | quote }} }
              - configMap: { name: {{ tpl (.Values.global.externalConfigMaps.appConfig | default .Values.global.configMapNames.appConfig) . | quote }} }
        {{- include "spark-job.ssl.volume" . | nindent 8 }}
