apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "spark-job.fullname" . }}-worker
  labels:
    {{- include "spark-job.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
spec:
  replicas: {{ .Values.spark.worker.replicas }}
  selector:
    matchLabels:
      {{- include "spark-job.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: worker
  template:
    metadata:
      labels:
        {{- include "spark-job.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: worker
    spec:
      containers:
        - name: spark-worker
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SPARK_MODE
              value: worker
            - name: SPARK_MASTER_URL
              value: "spark://{{ include "spark-job.fullname" . }}-master:{{ .Values.spark.master.port }}"
          resources:
            {{- toYaml .Values.spark.worker.resources | nindent 12 }}
